@import "./colors.scss";

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

///////////////////////////////////////////////
///////////////////////////////////////////////

.toggle-bar {
  background-color: rgba($color: $selected-row, $alpha: 0.0);
  padding: 0.2em 0em 0.2em 0em;
  margin: -16em 0em 0em 0em;
  border-radius: 0.5em;
  color: $text;
}

.toggle-bar-light {
  background-color: $selected-row;
  padding: 0.2em 0em 0.2em 0em;
  margin: -16em 0em 0em 0em;
  border-radius: 0.5em;
  color: $selected-row;
}

.bar-layout-box {
  background-color: $main;
  border: 1 solid $misc;
  font-family: "Sofia Pro Bold";
  padding: 0em 0em 0em 0em;
  border-radius: 1.5em;
  color: $text;
}

.bar-layout-box2 {
  background-color: $main-light;
  border: 1 solid $misc;
  font-family: "Sofia Pro Bold";
  padding: 0em 0em 0em 0em;
  border-radius: 1.5em;
  color: $text;
}

.sep {
  color: rgba($color: $subtext, $alpha: 0.0);
  padding: 0em 0em 0em 0em;
}

.sep2 {
  color: rgba($color: $subtext, $alpha: 0.0);
  padding: 2em 0em 0em 0em;
  font-size: 10px;
  font-family: "Sf Pro";
}

.sep-wide {
  color: rgba($color: $subtext, $alpha: 0.0);
  padding: 3.2em 0em 0em 0em;
}

.dots{ font-size: 11px; margin: 2em 0em 0em 0em;}
.bar-button-align { margin: 2em 0em 0em 0em;}

.bar-dark-button { margin:  8em  0em 0em -0.4em; background-color: $main; }
.bar-light-button { margin:  8em  0em 0em -0.4em; background-color: $selected-row; }

.tags { padding: 60px 0px 0px 0px; font-family: Icomoon Feather, Iosevka Nerd Font, feather; font-size: 18px;}
.unoccupied { padding: 0em 0.3em 0em 0em; color: $selected-row;}
.occupied { padding: 0em 0.3em 0em 0em; color: $selected-row;}
.urgent { padding: 0em 0.3em 0em 0em; color: $tab-active;}
.focused { background: linear-gradient(90deg, $selected-row, $selected-row); color: $main; padding: 0.5em 0.5em 0.5em 0.5em ; border-radius: 0.5em; border-bottom: 0 solid $text; }
.bar-profile-button { margin: 2em 0em 0em 0em ; }

/////////////////////////////////////////////////////////
.tags2 { padding: 60px 0px 0px 0px; font-family: Icomoon Feather, Iosevka Nerd Font, feather; font-size: 18px;}
.unoccupied2 { padding: 0em 0.3em 0em 0em; color: $selected-row-light;}
.occupied2 { padding: 0em 0.3em 0em 0em; color: $selected-row-light;}
.urgent2 { padding: 0em 0.3em 0em 0em; color: $tab-active;}
.focused2 { background: linear-gradient(90deg, $main, $misc); color: $selected-row; padding: 0.5em 0.5em 0.5em 0.5em ; border-radius: 0.5em; border-bottom: 0 solid $text; }


//////////////////////////////////////////////////
//////////////////////////////////////////////////

.layout-wide-box {
  background-color:$main;
  color: $text;
  font-family: SF Pro Display Medium, SFMono Nerd Font;
  padding: 0.7em 0.7em 0.7em 0.7em;
  border-radius: 1em;
}

.origin-brand {
  font-family: "Sofia Pro";
  font-weight: bold;
  font-size: 16px;
  margin:  1em 0em 0em 0em;
  color: rgba($subtext, 1.0);
}

.brand-greet {
  font-family: "Sofia Pro";
  font-weight: bold;
  font-size: 16px;
  margin:  -2em 0em 0em 4em;
  color: rgba($selected-row, 1.0);
}

.origin-brand-button { padding: 0.6em 2em 0em 0em; margin: 1.6em 10em 0em 0em; }
.vertigo-sidebar-button2 { margin: 2.1em 12em 0em 0em ;}

.weatr-box {
  background: linear-gradient(90deg, $card, $card);
  color: $selected-row;
  border-radius: 1em;
  padding: 3em 1em 1em 1em;
  margin: 1em 1em 1em 1em ;
  border: 1px solid $misc; 
  
}

.weather2 {
  font-family: "Forma";
  font-size: 13px;
  margin: 0em 0em 0em 1.5em ;
}
.weather1 {
}

.battery__box {
  font-family: Product Sans;
    background: $card; 
  color: $subtext;
  border-radius: 0.8em 0.8em 0em 0em;
  margin: 2em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
  .battery__box_icon {
    font-size: 15px;
    margin: 0em 0em 0em -4.5em;
  }
  .battery__box_percent {
    margin: 1em -4.5em 0em 0em;
    font-size: 12px;
    font-weight: 500;
    color: $subtext;
  }
}

.actionsbox {
  background: $card;
  color: #ff0000;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  font-size: 15px;
  padding: 0.2em;
  margin: 1em 0em 0em 0em;
  border: 0px solid $button-active;
}

.vol_percent {
font-size: 10px;
}


.controlsbox {
  border-radius: 1em 1em 1em 1em;
  background-color: $card;
  padding: 1em 1em 1em 1em; 
  margin: 1em 1em 1em 1em;
  border: 1px solid $misc;
}

.slider {
  .label{
    font-family: 'JetBrainsMono Nerd Font';
    color: $selected-row;
    font-size: 15px;
    padding-right: 15px;
  }
  .scale-label{
    min-width: 40px;
    color: $selected-row;
    font-size: 13px;
    font-weight: 500;
    margin-left: 0px;
  }
  trough {
    background-color: $misc;
    min-height: 9px;
    border-radius: 10px;

    highlight {
      background-color: $selected-row;
      border-radius: 10px;
    }
  }
}

.active {
  trough {
    slider {
      background: $misc;
      border-radius: 10px;
      margin: 3px 40px 3px 40px;
    }
  }
}

.origin-greet {
  font-family: "Sofia Pro";
  font-weight: bold;
  font-size: 14px;
  margin:  -2.8em 0em 0em 1em;
  color: rgba($selected-row, 1.0);
}

.origin-hostname {
  font-family: "Sofia Pro";
  color: rgba($text, 1.0);
  margin:  -1.2em 0em 0em 5em;
}

.origin-profile-button { padding: 0.5em 0em 0em 1em; margin: 1.6em 10em 0em 0em; }

.dark-layout-box {
  font-family: Forma, "Iosevka Nerd Font";
  background-color: $main;
  padding: 0.3em 0.2em 0.3em 1em;
  margin: 3.5em 0em 0em 0em;
  border-radius: 1em;
}

.dark-headers-label {
  color: $text;
  font-size: 16px;
  font-family: Sofia Pro, "FontAwesome";
  margin: 0.4em 0em 0em 0.5em;
}

.dark-headers-close {
  color: $selected-row;
  font-size: 25px;
  margin: 0em 0em 0em 1em;
}

.dark-headers-close-light {
  color: $subtext;
  font-size: 25px;
  margin: 0em 0em 0em 1em;
}

.dark-headers-close:hover {
  color: $text;
}

.dark-headers-close1 {
  color: $selected-row;
  font-family: FontAwesome;
  font-size: 25px;
  margin: 0em 0em 0em 0.4em;
}

.dark-headers-close1-light {
  color: $main;
  font-family: FontAwesome;
  font-size: 25px;
  margin: 0em 0em 0em 0.4em;
}

.dark-headers-close1:hover {
  color: $selected-row;
}

@keyframes slide-to-left {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: -700px;
  }
}

@keyframes slide-from-right {
  from {
    margin-right: -700px;
  }

  to {
    margin-right: 0px;
  }
}

@keyframes slide-to-right {
  from {
    margin-right: 0px;
  }

  to {
    margin-right: -700px;
  }
}

@keyframes slide-from-left {
  from {
    margin-left: -700px;
  }

  to {
    margin-left: 0px;
  }
}

//c01 and s01 means have control panel be shown and animate
.c01 {
  animation-name: slide-from-left;
  animation-duration: 1s;
}

.s01 {
  margin-right: -700px;
  animation-name: slide-to-right;
  animation-duration: 1s;
}

//c11 and s11 means have setting panel be shown and animate
.c11 {
  margin-left: -700px;
  animation-name: slide-to-left;
  animation-duration: 1s;
}

.s11 {
  animation-name: slide-from-right;
  animation-duration: 1s;
}

//c00 and s00 mean have control panel shown and no animation
.s00 {
  margin-right: -700px;
}

//c10 and s10 mean have setting panel shown and no animation
.c10 {
  margin-left: -700px;
}

.panel-container {
  background-color: $misc;
  border-radius: 6px;
}

.panel-switch-container {
  margin: 2em 0.5em 0.5em 0.5em;
  background-color: $main;
  padding: 0.5em;
}

.panel-switch-on-button {
  font-family: "Sofia Pro";
  font-size: 11px;
  background: linear-gradient(90deg, $selected-row, $selected-row);
  color: $main;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 10px;
//  border: 2px solid $card;
  border-bottom: 0 solid $text;
}

.panel-switch-off-button {
  font-family: "Sofia Pro";
  font-size: 11px;
  background-color: $misc;
  color: $text;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 10px;
  border: 0px solid $button-active;
//  border-bottom: 1 solid $text;
}

.panel-switch-on-button2 {
  font-family: "Sofia Pro";
  font-size: 11px;
  background: linear-gradient(90deg, $selected-row, $selected-row);
  color: $main;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 10px;
//  border: 2px solid $card;
  border-bottom: 0 solid $text;
}

.panel-switch-off-button2 {
  font-family: "Sofia Pro";
  font-size: 11px;
  background-color: $card;
  color: $text;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 10px;
  border: 0px solid $button-active;
}

.background {
  background-color: $main;
  border-radius: 6px;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0.3em;
}

.background-setting-panel {
  background-color: $main;
  border-radius: 6px;
  margin: 0em 0em 0em 0em;
  padding: 0em 0.2em 0em 0em;
}

.conkeww-pane {
  border: 3px solid;
  border-radius: 10px;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: 12px;
  padding: 17px 10px;
}

.title {
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 60px;
  padding: 0px 15px;
}



.main-box {
  padding-right: 10px;
  padding-left: 10px;
  background-color: $main;
}

// Widget backgrounds
.color-box {
  background: linear-gradient(90deg, #f85858, #f076ab);
  border-radius: 6px;
  margin: 0px 5px 0px 5px;
  padding: 1px 6px 1px 6px;

}

.txt {
  color: $misc;
}

.glyph {
  font-family: "Font Awesome 6 Pro Solid";
  padding-right: 4px;
}


.metric-ram scale trough highlight , .metric-vol scale trough highlight , .metric-root scale trough highlight , .metric-disk scale trough highlight, .metric-bright scale trough highlight {
  all: unset;
  border-radius: 10px;
}

.metric-ram scale trough , .metric-vol scale trough , .metric-root scale trough , .metric-disk scale trough, .metric-bright scale trough {
  all: unset;
  background-color: $misc;
  border-radius: 10px;
  min-height: 9px;
  min-width: 110px;
  margin-left: 5px;
}


.metric-root scale trough highlight {
  background-color: $selected-row;
}

.metric-disk scale trough highlight {
  background-color: $selected-row;
}

.metric-lable {
  font-family: "Feather";
  font-size: 16px;
  font-weight: bolder;
  color: $selected-row;
}



////////////////////////////////////////////////////////////////

.chrono-time-box {
  background-image: linear-gradient(100deg, $card, $card);
  border-radius: 1em;
  padding: 2em 1em 1em 1em;
  color: $text;
  border: 1px solid $misc;
}

.chrono-time-label {
  font-size: 25px;
  font-weight: bolder;
  color: $selected-row;
  font-family: Modum;
}

.chrono-prog {
  background-color: $card;
  color: darken($selected-row, 5%);
}

.chrono-prog label {
  padding: 1em;
  background-color: $misc;
  color: $text;
  font-weight: bold;
  font-size: 18px;
  font-family: Iosevka;
}

.chrono-prog-minute label {
  padding: 1.5em;
}

.chrono-prog-minute {
  background-color: $misc;
  color: $selected-row;
}

.chrono-sep {
  background-color: $misc;
  padding-left: 0.25em;
  border-radius: 0.5em;
}

.chrono-uptime-label {
  font-size: 18px;
  font-family: Modum;
}

///////////////////////////////////////

.bolt-bat-overlay {
  color: $main;
}

.bolt-bat-prog {
margin: 1em;
  border-radius: 1em;
  border: 1px solid $card;
  trough {
    padding: 2em 0em 2em 0em;
    background-color: $selected-row;
    border-radius: 1em;

    progress {
      padding: 2em 1em 2em 1em;
      background-color: rgba(darken($selected-row, 10%), 0.8);
      border-radius: 1em;
    }
  }
}

.bolt-bat-label {
  font-size: 13px;
  padding-left: 2em;
}

.bolt-bat-status-label {
  font-size: 12px;
  font-weight: bold;
  padding-left: 2em;
}

.bolt-bat-icon {
  padding-right: 2em;
  font-size: 15px;
}

.bolt-bat-full {
  trough {
    background-color: $misc;
    progress {
      background-color: rgba(darken($selected-row, 10%), 0.8);
    }
  }
}

.bolt-bat-norm {
  trough {
    background-color: $misc;
    progress {
      background-color: rgba(darken($selected-row, 10%), 0.8);
    }
  }
}

.bolt-bat-warn {
  trough {
    background-color: $misc;
    progress {
      background-color: rgba(darken($selected-row, 10%), 0.8);
    }
  }
}

.bolt-bat-crit {
  trough {
    background-color: $misc;
    progress {
      background-color: rgba(darken($selected-row, 10%), 0.8);
    }
  }
}

.wifi-box {
  background-color: $card;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 2em 1em 1em 1em;
  border-radius: 1em;
  border: 1px solid $misc;
}

.wifi-label {
  font-size: 12px;
  color: $text;
}

.wifi-ssid {
  font-size: 14px;
  color: $selected-row;
}

.wifi-icon {
  font-size: 14px;
  background-color: $misc;
  padding: 0.5em 1em 0.5em 0.5em;
  border-radius: 1.5em;
  color: $text;
  border: 1px solid $card;
}

.chart-container2 {
background-color: $misc;
        border-radius: 6em;
        border: 0 solid $misc;
        padding: 0em;
        margin: 0em 0em 0em 1.5em;
        .header {
          padding: 8px 0px;
          font-weight: 600;
          font-family: Dosis;
          font-size: 14px;
          color: $text;
        }
        .body2 .container2 {
          padding: 15px;
          background: rgba(25, 25, 25, 0.0);
           border-radius: 6em;
           padding: 10px;
          .chart-container2 {
            background-color: $main;
            margin: 0em 0em 0em 0em;
            border-radius: 6em;
            .chart2 {
              color: $selected-row;
              label {
                padding: 2em;
                font-size: 25px;
//                margin: 0em 0em 0em 0em;
              }
            }
            .chart-icon2 {
              background: $main;
              border-radius: 3em;
              padding: 12px 5px;
              margin: 0.5em;
              font-weight: 600;
              font-family: Dosis;
              font-size: 20px;
              color: $text;
              // nf alignment issues (again).
              &.cpu2 { padding: 10px 10px 10px 8px; }
              &.ram2 { padding: 12px 8px 12px 5px; }
              &.temp2 { padding: 13px 9px 12px 3px; }
              &.disk2 { padding: 13px 8px 12px 4px; }
            }
          }
        }
      }
.music-player-album2 {
    background-size: cover;
    background-color: $card;
    min-width: 91px;
    min-height: 91px;
    margin: 1em 0em 1em 1.4em;
    background-repeat: no-repeat;
    border-radius: 3.5em;
    background-position: right;
}

.music-player-container2 {
    background-color: rgba(darken($main, 10%), 0.0);
    padding: 0.5em;
    margin: -10.92em 0em 0em 3.5em;
    border-radius: 1em;
}

.music-player-container-wide {
    background-color: $main;
    margin: 0em 0em 0em 1.5em;
    border-radius: 1em;
}
.player-buttons-box-wide {
    font-size: 15px;
    margin: 10px 20px 20px 20px;
    font-family: "Font Awesome 5 Free";
    color: $selected-row;
}

.player-prev:hover,
.player-pp:hover,
.player-next:hover {
    color: $text;
}

.music-player-title {
    font-size: 14px;
    font-weight: 600;  
    margin: 0px 0px 0px 5px;
    color: $selected-row;
    font-family: "Sofia Pro";
}


.music-player-artist {
    font-size: 13px;
    margin: 10px 0px 0px 5px;
    font-family: "Sofia Pro";
    color: $text;
}

.avatar-mpd-footer {
font-size: 15;
margin: 5px 0px 0px 5px;
font-weight: 600;
font-family: Modum;
padding: 0.5em;
color: $text;
}

.ava-mpdx-box {
  background-color: $main;
  font-family: Phosphor, Dosis, sans-serif;
  border-radius: 0.5em;
  font-size: 15;
  padding: 0.1em;
  margin: 2em 0em 0em 1.3em;
}

.ava-mpdx-btn {
  background-color: $misc;
  color: $base04;
  border-radius: 2em;
  padding: 1.3em;

  &:hover {
    background-color: $shade03;
  }
}

.ava-mpdx-btn:active {
  background-color: $shade00;
}

.ava-mpdx-random-on:hover,
.ava-mpdx-consume-on:hover,
.ava-mpdx-single-on:hover,
.ava-mpdx-xfade-on:hover,
.ava-mpdx-repeat-on:hover {
  background-color: $shade05;
  color: $base04;
}

.ava-mpdx-xfade-off,
.ava-mpdx-repeat-off,
.ava-mpdx-random-off,
.ava-mpdx-single-off,
.ava-mpdx-consume-off {
  background-color: $shade05;
}

.ava-mpdx-xfade-off {
  color: $base15;
}

.ava-mpdx-repeat-off {
  color: $base13;
}

.ava-mpdx-random-off {
  color: $base11;
}

.ava-mpdx-single-off {
  color: $base14;
}

.ava-mpdx-consume-off {
  color: $base08;
}

.ava-mpdx-btn-shuffle {
  color: $selected-row;
}

.ava-mpdx-random-on {
  background-color: $base11;
  color: $base02;
}

.ava-mpdx-consume-on {
  background-color: $base08;
  color: $base02;
}

.ava-mpdx-single-on {
  background-color: $base14;
  color: $base02;
}

.ava-mpdx-xfade-on {
  background-color: $base15;
  color: $base02;
}

.ava-mpdx-repeat-on {
  background-color: $base13;
  color: $base02;
}

//////////////////////////////////////
/////////////////////////////////////
////////////////////////////////////
.bolt-layout-box {
  font-family: Dosis; background-color: $main; color: $text; padding: 1em; border-radius: 1.5em;
}

.chart-battery {
 padding: 0px 0px;
 margin: -6em 0em 0em 0em;
 font-size: 14px;
 font-weight: 600;
 color: $text;
 font-family: Dosis;
}

.chart-container {
       background-color: $card;
        border-radius: 1.5em;
        border: 1 solid $misc;
        .header {
          padding: 8px 0px;
          font-weight: 600;
          font-family: Dosis;
          font-size: 14px;
          color: $selected-row;
        }
        .body .container {
          padding: 15px;
          background: $main;
           border-radius: 6em;
           padding: 10px;
          .chart-container {
            background-color: $misc;
            border-radius: 6em;
            .chart {
              color: $selected-row;
              label {
                padding: 2em;
                font-size: 25px;
              }
            }
            .chart-icon {
              background: $card;
              border-radius: 3em;
              padding: 12px 5px;
              margin: 0.5em;
              font-weight: 600;
              font-family: Dosis;
              font-size: 20px;
              color: $text;
              // nf alignment issues (again).
              &.cpu { padding: 10px 10px 10px 8px; }
              &.ram { padding: 12px 8px 12px 5px; }
              &.temp { padding: 13px 9px 12px 3px; }
              &.disk { padding: 13px 8px 12px 4px; }
            }
          }
        }
      }

.bolt-wifi-box {
  background-color: $card;
  padding: 1em;
  border-radius: 1.5em;
  border: 1 solid $misc;
}

.bolt-wifi-label {
  font-size: 13;
  font-weight: 600;
  font-family: Dosis;
  color: $text;
  margin: -1em 0em 0em -12em;
}


.bolt-wifi-ssid {
  font-size: 14;
  font-weight: 600;
  font-family: Dosis;
  color: $selected-row;
  margin: -1.5em 0em 0em 3.5em;
}

.bolt-wifi-icon {
  font-size: 20;
  background: $selected-row;
  padding: 0.3em 0.9em 0.5em 0.5em;
  margin: 0.1em 0em 0em 0em;
  border-radius: 1.2em;
  color: $main;
  border: 1 solid $main;
}

.chart-container1 {
        background-color: $card;
        border-radius: 1.5em;
        border: 1 solid $misc;
        .header2 {
          padding: 5px 10px;
          font-family: Segoe UI;
          font-weight: 600;
          font-size: 0px;
          color: $text;
        }
        .body1 
        .container1 {
        background: rgba(25, 25, 25, 0.0);
        border-radius: 3em;
          padding: 10px;
          .chart-container1 {
            background-color: $misc;
            border-radius: 3em;
            .chart1 {
              color: $selected-row;
              label {
                padding: 1em;
                font-size: 25px;
              }
            }
            .chart-icon1 {
              background: $main;
              border-radius: 2em;
              padding: 0px 0px;
              margin: 0.5em;
              font-size: 16px;
              color: $selected-row;
              font-family: Segoe UI;
              // nf alignment issues (again).
              &.cpu1 { padding: 10px 10px 10px 8px; }
              &.ram1 { padding: 12px 8px 12px 5px; }
              &.temp1 { padding: 13px 9px 12px 3px; }
              &.disk1 { padding: 13px 8px 12px 4px; }
            }
          }
        }
      }

.sysbuttonsbox {
background-color: $card;
border-radius: 1.5em;
border: 1 solid $misc;
}
  .block-container {
    .block {
      background: $main;
      padding: 0.3em;
      margin: 0.4em 0em 0em 0.6em;
      border-radius: 1.5em;
      border: 0 solid $misc;
      transition: all ease .2s;
      color: $text;
      font-weight: bold;
      &:hover { background-color: $misc; }
      &:active { background: linear-gradient(90deg, #1f2837, #c2ef21); }
      &.active {
        background: linear-gradient(90deg, #1f2837, #c2ef21);
        
        &:hover { background-color: $notification-error; }
        &:active { background-color: #ff0000; }
        .sepbox .sep {
          background-color: $normal;
        }
      }
      .iconbox .icon {
        font-family: Iosevka Nerd Font;
        padding: 4px 25px 5px 0px;
        margin: 0em 0em 0em 0.5em;
        font-size: 22px;
        color: $main;
      }
      .sepbox .sep {
        background-color: $normal;
        margin: 5px 5px;
        padding: 0px 0px;
      }
      .chevronbox {
        font-family: Iosevka Nerd Font;
        padding: 0em 0em 0em 5em;
        font-size: 13px;
        color: $main;
      }
    }
    .label {
      font-weight: 600;
      font-family: Dosis;
      font-size: 14px;
      margin: -4em 0em 0em 1.8em;
      color: $misc;
    }
  }
  
  .bolt-music-player-container {
    background-color: $card;
//    background: linear-gradient(90deg, #1f2837, #c2ef21);
    margin: 0em;
    border-radius: 1.5em;
    border: 1 solid $misc;
}

.bolt-music-player-album {
    background-size: cover;
    background-color: $card;
    min-width: 90px;
    min-height: 70px;
    margin: 1em 0em 1em 1em;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: right;
}


.bolt-music-player-info {
    margin: 0em 0em 0em 0em;
    font-family: Sofia Pro Bold;
}

.bolt-music-player-name {
    font-size: 0px;
    font-weight: 200;
    font-family: "Sofia Pro Bold";
    margin: 2px 15px 0px 0px;
}

.bolt-music-player-title {
    font-size: 12px;
    font-weight: 600;
    font-family: Dosis;
    margin: -3.5em 0em 0em 1em;
    color: $selected-row;
}

.bolt-music-player-artist {
    font-size: 11px;
    font-weight: 400;
    font-family: Dosis;
    margin: -1em 0em 0em 1em;
    color: $text;
}
   
.bolt-player-buttons-box {
    font-size: 15px;
    margin: -3em 0em 0em 3.5em;
    font-family: "Font Awesome 5 Free";
    color: $selected-row;
}

.bolt-uptime-box {
  background-color: $card;
  padding: 1.5em;
  border-radius: 1.5em;
  border: 1 solid $misc;
}

.bolt-uptime-label {
  color: $text;
  font-size: 14;
  font-weight: 600;
  font-family: Dosis;
}

.bolt-uptime-value {
  font-size: 18;
  font-weight: 600;
  font-family: Modum;
  color: $selected-row;
}

.bolt-uptime-hl {
  background-color: $selected-row;
  font-size: 1px;
  padding: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
  border-radius: 0.1rem;
}

.bolt-net-box {
  background-color: $card;
  padding: 1em 0em 0em 0em;
  margin: 0em 0em 0em 0em;
  border-radius: 1.5em;
  border: 1 solid $misc;
}

.bolt-net-hl {
//  background-color: #ff0000;
  font-size: 1px;
  padding: 0em 0em 0em 8em;
  margin: 0em 0em 0em 0em;
  margin-bottom: 0em;
  border-radius: 0em;
}

.bolt-net-up {
  color: $text;
  font-size: 14;
  font-weight: 600;
  font-family: Dosis;
  padding: 0em 0em 0em 2em;
  margin: 0em 0em 0em 0em;
}

.bolt-net-down {
  color: $selected-row;
  font-size: 14;
  font-weight: 600;
  font-family: Dosis;
  padding: 0em 0em 0em 2em;
  margin: 0em 0em 0em 0em;
}
